@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
}

body {
  background-color: #0E1116;
  color: #F8F9FC;
  -webkit-font-smoothing: antialiased;
  height: 100vh
}

::-webkit-scrollbar {
  margin-left: 1rem;
  width: 6px;
  border-radius: 4;
}
 
::-webkit-scrollbar-track {
  margin-left: 1rem;
  background-color: #181C2A;
  border-radius: 4;
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  margin-left: 1rem;
  background-color: #252D4A;
  border-radius: 4;
  width: 6px;
}
